.box {
    position: relative;
    left: 25%;
    background-color: #eee;
    width: 50%;

}
.text-center {
    text-align: center;
}
.img-circle {
    border-radius: 100%;
}
.font-size {
    font-size: 80px;
}
.timeline {
    background-color: #ddd;
    box-sizing: border-box;
    width: 100%;
}
.text-transform {
    text-transform: uppercase;
}
.topnav{
    overflow: hidden;
    background-color: rgb(41, 40, 40);
}
.topnav a{
    float: left;
    color: aqua;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 20px 10%;
}
.topnav a:hover{
    background-color: brown;
    color: coral;
}
.topnav a:active {
    background-color: white;
    color: black;
}